POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=antiscam
POSTGRES_PASSWORD=antiscam
POSTGRES_DB=antiscam
POSTGRES_TIMEOUT=30s

LOGGER_LEVEL=DEBUG
LOGGER_FOLDER=./logs

TEST_DATABASE_URL=postgresql://antiscam:antiscam@127.0.0.1:5432/antiscam?sslmode=disable